.categories-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2.5rem;
  text-align: center;
  color: var(--deep-blue);
}

.categories-block-note {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--light-blue);
  letter-spacing: 0.05rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
  margin-top: 0.6rem;
}

.big-box {
  grid-column: 1 / span 1;
  height: 31.8rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
}

.big-box:hover {
  transform: scale(1.03);
}

.big-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-overlay h3 {
  margin: 0 0 0.6rem 0;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.category-overlay a {
  background-color: var(--white);
  color: var(--deep-blue);
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.category-overlay a:hover {
  background-color: var(--deep-blue);
  color: var(--white);
  transform: scale(1.1);
}

.small-box-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
}

.small-box {
  height: 15.6rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
}

.small-box:hover {
  transform: scale(1.03);
}

.small-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .categories-container h2 {
    font-size: 1.5rem;
    margin-top: 1.8rem;
  }

  .categories-block-note {
    font-size: 0.9rem;
  }
  .categories {
    margin: 0.5rem 2rem;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.6rem;
  }

  .big-box {
    grid-column: 1 / span 1;
    height: 9.3rem;
  }

  .small-box {
    height: 9.3rem;
  }

  .category-overlay h3 {
    font-size: 1.2rem;
  }

  .category-overlay a {
    padding: 0.625rem 0.625rem;
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 768px) {
  .categories {
    margin: 3.1rem 6.2rem 0rem 6.2rem;
  }
}
