.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  max-width: 56.2rem;
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 15px var(--boxshadow-color);
}

.product .left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  margin-left: 3.1rem;
  gap: 1rem;
}

.image {
  position: relative;
}

.single-card-img {
  width: 25rem;
  height: 31.2rem;
  object-fit: cover;
}

.product .left .card-badge {
  position: absolute;
  top: 1.5rem;
  left: 0;
  background-color: #f44336;
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.1rem;
  font-size: 1rem;
}

.product-detail-info-container {
  margin-bottom: 0.3rem;
  color: var(--deep-blue);
  font-weight: bold;
  text-align: left;
}

.product-detail-info-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.product-detail-rating {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.product-detail-rating p {
  margin-right: 0.3rem;
  font-size: 1.2rem;
}

.product-detail-star-icon {
  color: var(--star-color);
}

.price {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.product-card-price {
  margin-right: 0.6rem;
}

.product-detail-original-price {
  color: var(--bright-blue);
  text-decoration: line-through;
}

.product-detail-description {
  font-size: 1.3rem;
  text-align: left;
  color: var(--light-blue);
}

.product-detail-tag-msg {
  display: flex;
  flex-direction: column;
  color: var(--deep-blue);
}

.tag-msg {
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
  margin-bottom: 0.1rem;
}

.tag-msg svg {
  margin-right: 0.3rem;
}

.product-detail-add-to-cart-btn {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: center;
  background-color: var(--deep-blue);
  font-weight: bold;
  font-size: 1.1rem;
  width: 100%;
  color: var(--white);
  padding: 0.5rem 0;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.product-detail-add-to-cart-btn:hover {
  background-color: var(--medium-blue);
}
.product-detail-add-to-whishlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  font-weight: bold;
  font-size: 1.1rem;
  width: 100%;
  color: var(--deep-blue);
  padding: 0.5rem 0;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.product-detail-add-to-whishlist-btn:hover {
  background-color: var(--medium-blue);
  color: var(--white);
}
@media only screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    margin: 0rem auto;
  }
  .right {
    margin-left: 0px;
    margin-top: 0.5rem;
  }
  .product .left,
  .product .right {
    width: 100%;
  }

  .single-card-img {
    width: 21.6rem;
    height: 25rem;
  }
  .product-detail-info-container h1 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  .product-detail-rating {
    margin-bottom: 0rem;
  }

  .product-detail-description {
    font-size: 1rem;
  }

  .product-btn-container {
    width: 100%;
  }
}
