.App {
  font-family: "Libre Baskerville";
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.middle-content {
  flex-grow: 1;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
:root {
  --deep-blue: #121932;
  --dark-blue: #1c263f;
  --medium-blue: #293657;
  --light-blue: #4e5f86;
  --bright-blue: #7685ab;
  --white: #fff;
  --star-bg: #30ab30;
  --star-color: gold;
  --danger: #f44336;
  --boxshadow-color: rgba(0, 0, 0, 0.3);
  --search-input: #f5f5f6;
  --counter-bg: #d1d5db;
  --counter: #4b5563;
  --section-title: #333;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--deep-blue);
  border-radius: 1rem;
}
